#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 554px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper {
    width: 100%;
    height: 100vh;
}

@media (max-width:568px) {
    .swiper-button-next {
        margin-top: 300px;
        margin-right: 0px;
    }
    .swiper-button-prev {
        margin-top: 300px;
    }
}

.imgs {
    width: 500px;
}

.imgback {
    width: 200px;
    height: 100px;
    margin-top: 0 px;
}